 <div class="bg-white w-fit mx-auto px-20 py-5 m-2 rounded-lg shadow-lg">
    <h2 class="text-center text-2xl text-purple-900 italic" *ngIf="recipe">{{ recipe.label }}</h2>
  <img class="rounded-lg flex mx-auto m-8" *ngIf="recipe" [src]="recipe.image" [alt]="recipe.label">
    <ul *ngIf="recipe">
      <li class="list-decimal text-left" *ngFor="let ingredientLines of recipe.ingredientLines">
        {{ ingredientLines }}
      </li>
    </ul>
  </div>
  
  <div class="flex justify-center m-2 p-1 mx-auto w-fit bg-white rounded-lg shadow-lg">
    <ul class="flex flex-col flex-wrap" *ngIf="recipe">
      <li class="flex items-center m-2" *ngFor="let ingredient of recipe.ingredients">
        <div class="flex">
          <img class="w-40 rounded-lg" [src]="ingredient.image" alt="ingredient.text">
        </div>
        <p class="mx-4">
          {{ingredient.text }}
        </p>
      </li>
    </ul>
  </div> 