

<nav class="w-full flex  flex-wrap justify-evenly py-1.5 bg-purple-100 top-0 text-slate-950 mb-6 text-purple-900">
  <div>
      <a class="hover:bg-pink-900 hover:px-4 hover:py-2 hover:rounded-lg hover:text-white"  routerLink="/Home" routerLinkActive="active" >Home</a>
  </div>
  <div>
      <a class="hover:bg-pink-900 hover:px-4 hover:py-2 hover:rounded-lg hover:text-white" >Signup</a>
  </div>
  <div id="login-link">
      <a class="hover:bg-pink-900 hover:px-4 hover:py-2 hover:rounded-lg hover:text-white" >Login</a>
  </div>
</nav>

<app-search-bar-recipe></app-search-bar-recipe>
