 <nav >
  <ul class="w-full flex flex-wrap justify-evenly py-1.5 bg-purple-100 top-0 text-slate-950 mb-4 text-purple-900">
    <li><a class="hover:bg-purple-900 hover:px-4 hover:py-2 hover:rounded-lg hover:text-white"  routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Search</a></li>
    @if((loggedIn$ | async)?.loginState ){
      <li><a class="hover:bg-purple-900 hover:px-4 hover:py-2 hover:rounded-lg hover:text-white" (click)="logout()">Logout</a></li>
    }@else{
    <li><a class="hover:bg-purple-900 hover:px-4 hover:py-2 hover:rounded-lg hover:text-white" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
    <li><a class="hover:bg-purple-900 hover:px-4 hover:py-2 hover:rounded-lg hover:text-white"  routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">Signup</a></li>
    }
    @if((loggedIn$ | async)?.loginState ){
      <li>Logged in as {{(loggedIn$ | async)?.user?.name}}</li>
    } @else {<li>Not logged in</li>}
  </ul>
</nav>

<router-outlet />
